@import "./reset.scss";
@import "./varibles/global.scss";
@import "./theme/light.scss";
@import "./theme/dark.scss";
 

.app {
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
    font-family: var(--font-family-main);
    

    background-color: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}